.head{
	background-color: coral;
	display:flex;
	justify-content: space-between;
}

.menu{
	display:flex;
}

.menu{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.links, .menu a {
	display: flex;
	justify-content: center;
}


.links a{
	display:flex;
}


p, h2{
	text-align: center;
}

.media{
	display:flex;
	justify-content: flex-end;
}

.item p {
	font-size: x-large;
	border: solid;
}

.item img {
	box-shadow: 5px 5px 5px 5px rgba(255, 127, 80, 0.2);
	border: solid;
	border-color: coral;
}

body{
	background-color: #E0E0E0;
}